/* navbar */

.nav-container {
  background: rgb(150, 150, 150);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  padding: 3vw;
}
.nav-brand {
  color: white;
  text-decoration: none;
}
.nav-breadcrumbs {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.nav-breadcrumbs-link {
  color: white;
  text-decoration: none;
}
.nav-auth-link {
  display: flex;
  justify-content: right;
}
.nav-btn-link {
  color: white;
  text-decoration: none;
  background: gray;
  padding: 1vw;
}
