/* index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #6366f1;
  --bg: rgb(230, 230, 230);
  --text: #fff;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}
